.btn{
  font-size: 24px;
  font-weight: 700;
  background-color: rgb(255, 251, 1);
  padding-top: 10px;
  padding-right:20px;
  padding-bottom: 10px;
  padding-left:20px;
  margin:40px;
  
}
.btn:focus{
    background-color: rgb(255, 153, 0);
    font-size: 24px;
  font-weight: 700;

}

.text{
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;

}
